<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lab2 - security</title>
    </head>
    <body>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        Admin site

        <br />

        <h3>User list:</h3>
        <ul>
            <% for (const user of users) { %>
                <li><%= user.name %></li>
            <% } %>
        </div>
    </body>
</html>