<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lab2 - security</title>
    </head>
    <body>
        <form action="/menu" method="post">
            <div>
                <label for="version_radio">Which application version do you want?</label>
                <p>
                    <input id="secure" type="radio" name="version" value="secure" checked>Secure</input>
                </p>
                <p>
                    <input id="vulnerable" type="radio" name="version" value="vulnerable"">Vulnerable</input>
                </p>
            </div>
            <button type="submit">Next</button>
        </form>
    </body>
</html>