<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lab2 - security</title>
    </head>
    <body>
        <button type="button"><a href="/menu">Menu</a></button>
        <form action="/login" method="post">
            <div>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
          
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <br/>

                <% if(captcha) { %>
                    <div id="captchaDiv">
                        <div><%- captcha.data %></div>

                        <label for="captcha"><b>Captcha text</b></label>
                        <input id="captchaInput" type="text" placeholder="Enter captcha text" name="captcha" required>

                        <br/>
                    </div>
                <% } %>
          
                <button type="submit">Login</button>
            </div>
        </form>
        <% if (loginError) { %>
            <h2 style="color: red;"><%= loginError %></h2>
        <% } %>
    </body>
</html>