<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lab2 - security</title>
    </head>
    <body>
        <button type="button"><a href="/">Application version menu</a></button>
        <ul>
            <li><a href="/login">Broken Authentication & Broken Access Control</a></li>
            <li><a href="/xxe">XML External Entity, XXE</a></li>
        </ul>
    </body>
</html>