<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lab2 - security</title>
    </head>
    <body>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        Hello user
    </body>
</html>