<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lab2 - security</title>
    </head>
    <body>
        <button type="button"><a href="/menu">Menu</a></button>
        <form action="/xxe" method="post">
            <div>
                <label for="xml">Write XML here:</label>
                <textarea id="xml" name="xml" rows="20" cols="100">
                    <%- xml %>
                </textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>