<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lab2 - security</title>
    </head>
    <body>
        <button type="button"><a href="/xxe">XML form</a></button>
        <h2>XML:</h2>
        <br />
        <pre>
            <%- xml %>
        </pre>
    </body>
</html>